ul,ol{
    list-style-type: none;
}

    
    body{
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    
}
.logo{
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
}

.navigation{
    color:  #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.link{
    text-decoration: none;
}

.navigation:hover,.navigation:focus{
    color: #404BBF;
}

.contacts{
    color: #434455;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus{
    color: #404BBF;
}

button:hover,button:focus{
    cursor: pointer;
}

.solutions{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1.12;
    line-height: 1.07;
}

.second_header{
font-size: 36px;
letter-spacing: 2%;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.order{
    font-weight: medium;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
}